#grid {
  text-align: center;
  display: grid;
  grid-template-columns: 2fr 5fr 3fr;
}

.logo {
  grid-column: 1/4;
  height: 20rem;
  border: 1px solid black;
  background-color: black;
}

.logo-wizard  {
  position: relative;
  width: 700px;
  bottom: 165px;

}

.show-form {
  border-right: 1px solid black;
  background-color: lightblue;
}

.schedule-list {

}

.show {
  align-items: center;
  background-color: lightgreen;
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

.show h1 {
  font-size: 30px;
  margin-top: 0px;
}

.show-list {
    border-right: 1px solid black;
}

h1 {
  font-size: 40px;
}

.wizard-head {
  position: relative;
  top: 100px;
  width:300px;
  opacity: 85%;
}


.show-images {
  border: 1px solid black;
}

.footer {
  grid-column: 1/4;
  padding: 100px;
  background-color: blue;
}

.schedule {
  grid-column: 1/4;
  background-color: lightgreen;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.schedule h3 {
  margin: 0px;
}

select {
font-size: 16px;
margin: 10px;
width: 160px;
}

body {
  font-size: 16px;
}

button {
  font-size: 16px;
  height: 30px;
  border-radius: 10px;
}

.red {
  color: red;
  font-weight: bold;
}

a {
  font-size: 16px;
}

a:link {
  color: blue;
}

a:visited {
  color: blue;
}

a:hover {
  text-decoration: none;
  color: red;
}
